---
import Navbar from '../../components/Navbar.astro';
import ProductCard from '../../components/ProductCard.astro';
import Layout from '../../layouts/Layout.astro';
import TestimonialCard from '../../components/TestimonialCard';
import Pill from '../../components/Pill.astro';
import TextBubble from '../../components/TextBubble.astro';
import ContactForm from '../../components/ContactForm';

const IMG_PATHS = {
  bb: [
    'showreel/bb/1.png',
    'showreel/bb/2.png',
    'showreel/bb/3.png',
    'showreel/bb/4.png',
  ],
  kulman: [
    'showreel/kulman/1.png',
    'showreel/kulman/2.png',
    'showreel/kulman/3.png',
    'showreel/kulman/4.png',
  ],
  onesolar: [
    'showreel/onesolar/1.png',
    'showreel/onesolar/2.webp',
    'showreel/onesolar/3.png',
    'showreel/onesolar/4.png',
  ],
  peatch: [
    'showreel/peatch/1.png',
    'showreel/peatch/2.webp',
    'showreel/peatch/3.png',
    'showreel/peatch/4.png',
  ],
  pottekur: [
    'showreel/pottekur/1.png',
    'showreel/pottekur/2.png',
    'showreel/pottekur/3.png',
    'showreel/pottekur/4.png',
  ],
};
---

<Layout
  title="Welcome to Gemss - Speed-first Growth Services for Startups"
  description="Gemss is a collective of entrepreneurs, financial managers, designers, marketers, and developers, with a huge experience in different fields. We’ve developed five services, that will rapidly change your your business."
  theme="dark"
>
  <Navbar />
  <main class="-mt-2 text-white md:mt-[revert]">
    <section
      class="flex flex-col items-center justify-center gap-5 bg-gemms-dark px-4 py-5 pb-6 md:mx-auto md:mt-20 md:grid md:max-w-7xl md:grid-cols-2 md:gap-x-5 md:px-4"
    >
      <div
        class="mx-4 flex justify-center bg-transparent md:order-1 md:mx-[revert] md:self-start"
      >
        <video
          class="aspect-auto w-full max-w-[600px] rounded-gemms-medium"
          autoplay
          width="600"
          height="400"
          loop
          muted
          playsinline
        >
          <source
            src="new_showreel.mp4"
            class="rounded-[8px/4px]"
            type="video/mp4"
          />
          <source
            src="new_showreel.webm"
            class="rounded-[8px/4px]"
            type="video/webm"
          />
        </video>
      </div>
      <div class="w-full md:pl-4">
        <div class="space-y-2 md:space-y-3">
          <h2
            class="mx-auto max-w-[300px] text-center text-2xl leading-7 md:mx-[revert] md:max-w-[revert] md:text-start md:text-[40px] md:leading-[48px]"
          >
            Design and engineering subscription for startups and founders
          </h2>
          <p
            class="mx-auto max-w-[300px] text-center text-sm text-white/[.48] md:mx-[revert] md:max-w-[revert] md:text-start md:text-xl md:text-white"
          >
            Hire a top-notch team of designers and engineers for a fixed monthly
            payment and work with them one-on-one.
          </p>
        </div>
        <div class="mx-10 mt-[37px] md:mx-0 md:mt-24">
          <div
            class="flex flex-row justify-center gap-3 text-sm md:justify-start md:text-base"
          >
            <button
              data-fires-confetti
              class="whitespace-nowrap rounded-full bg-white p-4 text-neutral-950 md:text-base md:leading-5"
              id="book-an-intro-call-btn"
            >
              Book an intro call
            </button>
            <button
              data-fires-confetti
              class="whitespace-nowrap rounded-full bg-white/5 p-4 md:text-base md:leading-5"
              id="start-pricing-btn">Start $8450 / mo</button
            >
          </div>
          <p
            class="mt-4 text-center text-xs opacity-40 md:text-start md:text-base"
          >
            7-day trial period, money-back guaranteed
          </p>
        </div>
      </div>
    </section>
    <div class="bg-white">
      <section
        class="grid grid-cols-1 justify-items-center gap-3 bg-white px-4 py-5 text-gemms-dark md:mx-auto md:max-w-7xl md:grid-cols-2 md:gap-x-5 md:gap-y-8"
      >
        <ProductCard
          images={IMG_PATHS.peatch}
          title="PEATCH"
          delay={2}
          type="Product, 3 months"
          description="Conceptualised and developed pivot for a social network for creatives and professional."
        />
        <ProductCard
          images={IMG_PATHS.pottekur}
          start={1000}
          delay={2.5}
          title="Pottekur"
          type="Branding & Product, 3 Months"
          description="Helped a solar e-commerce brand make their first steps, build $3M MRR and develop a strategy for a future growth, rebranding a positioning"
        />
        <TestimonialCard client:load />
        <ProductCard
          images={IMG_PATHS.kulman}
          title="KULMAN"
          delay={3}
          type="Branding, 2 Weeks"
          description="A bold and playful logo and brand identity for a office & home furniture manufacturer"
        />
        <ProductCard
          images={IMG_PATHS.kulman}
          title="KULMAN"
          delay={2.5}
          type="Branding, 2 Weeks"
          description="A bold and playful logo and brand identity for a office & home furniture manufacturer"
        />
        <ProductCard
          images={IMG_PATHS.bb}
          title="Beaded Breakfast"
          delay={3.5}
          type="Branding & Web, 1 Month"
          description="Helped an ugly solar e-commerce brand make their first steps, build $3M MRR and develop a strategy for a future growth, rebranding a positioning"
        />
        <ProductCard
          images={IMG_PATHS.onesolar}
          title="Beaded Breakfast"
          delay={4.5}
          type="Branding & Web, 1 Month"
          description="Helped an ugly solar e-commerce brand make their first steps, build $3M MRR and develop a strategy for a future growth, rebranding a positioning"
        />
        <ContactForm client:load />
        <div
          class="mt-10 flex flex-col items-center bg-white px-4 md:items-start"
        >
          <h1
            class="max-w-[20ch] text-center text-2xl leading-7 text-gemms-dark md:text-start md:text-3xl xl:text-[44px] xl:leading-[52px]"
          >
            Great service free of corporate sluggishness and unnecessary
            meetings
          </h1>
          <div
            class="mt-5 flex w-full max-w-[300px] flex-wrap items-center justify-center gap-1 md:max-w-[400px] md:items-start md:justify-start md:gap-2"
          >
            <Pill className="md:text-base" text="10-minutes brief" />
            <Pill className="md:text-base" text="30-minutes intro call" />
            <Pill className="md:text-base" text="7 days trial" />
            <Pill className="md:text-base" text="2-3 day turnaround" />
            <Pill className="md:text-base" text="Communicate via Telegram" />
            <Pill className="md:text-base" text="Manage via Linear" />
            <Pill className="md:text-base" text="Pause or cancel anytime" />
          </div>
        </div>
        <div class="mt-8 flex flex-col gap-y-5 px-5 pb-20">
          <TextBubble className="md:text-2xl" text="Who are you?" sender="us" />
          <TextBubble
            text="We are a team of professionals that constantly strives to create valueable products, fast and efficiently."
            sender="them"
            className="md:text-2xl"
          />
          <TextBubble
            text="What's with the price?"
            className="md:text-2xl"
            sender="us"
          />
          <TextBubble
            text="We understand your concerns, but it's still cheaper and faster than hiring your own team members."
            sender="them"
            className="md:text-2xl"
          />
          <TextBubble
            text="How can I pay for your service?"
            className="md:text-2xl"
            sender="us"
          />
          <TextBubble
            text="You can pay by wire transfer, Paypal, crypto or Deel."
            sender="them"
            className="md:text-2xl"
          />
          <TextBubble
            text="Who will own the final project?"
            className="md:text-2xl"
            sender="us"
          />
          <TextBubble
            text="You will! All of the intellectual rights for the project goes to you."
            sender="them"
            className="md:text-2xl"
          />
          <TextBubble
            text="What if I'm not satisfied with the result?"
            sender="us"
            className="md:text-2xl"
          />
          <TextBubble
            text="You will have a 7-days trial period. If you won't be satisfied, or won't want to go forward with the project, we will compensante the payment, excluding taxes and payment provider's comission. "
            sender="them"
            className="md:text-2xl"
          />
        </div>
      </section>
    </div>
    <section
      class="flex flex-col bg-gemms-dark pt-8 text-white md:mx-auto md:mb-8 md:max-w-7xl md:flex-row md:justify-between"
    >
      <div class="flex flex-col justify-between">
        <div class="w-full flex-1 px-8 md:max-w-[530px]">
          <Pill
            className="border-white/20 w-fit mx-auto block md:mx-[revert] text-white md:py-[6px] md:px-3 md:text-[10px]"
            text="2 SPOTS LEFT"
          />
          <h2
            class="mt-3 text-center text-2xl leading-7 md:mt-4 md:text-start md:text-5xl"
          >
            Discuss today, start work tomorrow
          </h2>
          <p
            class="mt-2 text-center text-sm text-white/[0.32] md:text-start md:text-xl"
          >
            Talk with Nikita, the founder and product designer, to discuss the
            opportunities, create a roadmap, and get free consultation.
          </p>
          <div
            class="mt-8 flex flex-col gap-3 font-arizona text-sm font-medium md:flex-row md:text-base"
          >
            <button
              data-fires-confetti
              class="rounded-full bg-white px-4 py-4 text-sm text-black md:p-4 md:text-base md:leading-5"
            >
              Book an intro call
            </button>
            <a
              class="flex flex-row items-center justify-center gap-[10px] rounded-full bg-white/5 px-4 py-4 md:p-4 md:text-base md:leading-5"
              href="https://t.me/nickaxel"
            >
              <img
                class="h-6 w-6 rounded-full object-cover"
                src="people/bek.png"
              />
              <p>DM in Telegram</p>
            </a>
          </div>
        </div>
        <footer class="hidden md:mt-8 md:block">
          <a
            class="block text-center text-sm text-white/20 md:mx-[revert] md:ml-8 md:text-start md:text-xl"
            >Made by GAAS
          </a>
        </footer>
      </div>
      <div
        class="md:self-[revert] mx-4 mt-[60px] grid aspect-square max-w-[600px] flex-1 grid-cols-2 gap-2 self-center md:mt-0 md:min-w-[328px]"
      >
        <a
          href="https://t.me/nickaxel"
          class="flex flex-col justify-between bg-white/5 py-5 pl-4"
        >
          <img src="svg/dribbble.svg" width="24" height="24" />
          <p class="mt-[68px]">Dribbble</p>
        </a>
        <a
          href="https://t.me/nickaxel"
          class="flex flex-col justify-between bg-white/5 py-5 pl-4"
        >
          <img src="svg/dribbble.svg" width="24" height="24" />
          <p class="mt-[68px]">Instagram</p>
        </a>
        <a
          href="https://t.me/nickaxel"
          class="flex flex-col justify-between bg-white/5 py-5 pl-4"
        >
          <img src="svg/dribbble.svg" width="24" height="24" />
          <p class="mt-[68px]">X</p>
        </a>
        <a
          href="https://t.me/nickaxel"
          class="flex flex-col justify-between bg-white/5 py-5 pl-4"
        >
          <img src="svg/dribbble.svg" width="24" height="24" />
          <p class="mt-[68px]">Mail</p>
        </a>
      </div>
    </section>
  </main>
  <footer class="mx-auto mb-28 mt-10 md:mb-8 md:hidden md:max-w-7xl">
    <a
      class="block text-center text-sm text-white/20 md:mx-[revert] md:mb-10 md:ml-8 md:mt-0 md:text-start md:text-xl"
      >Made by GAAS
    </a>
  </footer>
</Layout>

<style>
  p,
  button,
  span,
  footer {
    font-family: 'Arizona Plus', sans-serif;
  }

  button {
    font-weight: 500;
  }
</style>
