---
import { Icon } from 'astro-icon/components';

import Navbar from '../components/Navbar.astro';
import ProductCard from '../components/ProductCard.astro';
import Layout from '../layouts/Layout.astro';
import TestimonialCard from '../components/TestimonialCard';
import Pill from '../components/Pill.astro';
import TextBubble from '../components/TextBubble.astro';
import ContactForm from '../components/ContactForm';

// TODO: Add OneSolar
const IMG_PATHS = {
  clan: [
    'showreel/clan/1.webp',
    'showreel/clan/2.webp',
    'showreel/clan/3.webp',
    'showreel/clan/4.webp',
  ],
  bb: [
    'showreel/bb/1.webp',
    'showreel/bb/2.webp',
    'showreel/bb/3.webp',
    'showreel/bb/4.webp',
  ],
  kulman: [
    'showreel/kulman/1.webp',
    'showreel/kulman/2.webp',
    'showreel/kulman/3.webp',
    'showreel/kulman/4.webp',
  ],
  onesolar: [
    'showreel/onesolar/1.webp',
    'showreel/onesolar/2.webp',
    'showreel/onesolar/3.webp',
    'showreel/onesolar/4.webp',
  ],
  peatch: [
    'showreel/peatch/1.webp',
    'showreel/peatch/2.webp',
    'showreel/peatch/3.webp',
    'showreel/peatch/4.webp',
  ],
  pottekur: [
    'showreel/pottekur/1.webp',
    'showreel/pottekur/2.webp',
    'showreel/pottekur/3.webp',
    'showreel/pottekur/4.webp',
  ],
};

const TITLE = 'One subscription for design, engineering and marketing';
const DESCRIPTION =
  'We help startups and founders handle growth and product development task fast and hassle-free';
---

<Layout title={TITLE} description={DESCRIPTION} theme="dark">
  <Navbar />
  <main class="-mt-2 text-white md:mt-[revert]">
    <section
      class="mt-20 flex flex-col items-center justify-center gap-5 bg-gemms-dark px-4 py-5 pb-6 md:mx-auto md:mt-20 md:grid md:max-w-7xl md:grid-cols-2 md:gap-x-5 md:px-4 md:pb-[60px]"
    >
      <div
        class="mx-4 flex justify-center bg-transparent md:order-1 md:mx-[revert] md:self-start"
      >
        <video
          class="aspect-auto w-full max-w-[600px] rounded-gemms-medium"
          autoplay
          width="600"
          height="400"
          loop
          muted
          playsinline
        >
          <source
            src="showreel/main.mp4"
            class="rounded-[8px/4px]"
            type="video/mp4"
          />
          <source
            src="showreel/main.webm"
            class="rounded-[8px/4px]"
            type="video/webm"
          />
        </video>
      </div>
      <div class="w-full md:pl-4">
        <div class="space-y-2 md:space-y-3">
          <Pill
            className="border-white/20 uppercase md:tracking-[1px] w-fit mx-auto block md:mx-[revert] text-white md:py-[6px] md:px-3 md:text-[10px] md:leading-[20px]"
            text="2 spots left"
          />
          <h2
            class="mx-auto max-w-[300px] text-center font-arizona text-2xl font-light leading-7 md:mx-[revert] md:max-w-[revert] md:text-start md:text-[40px] md:leading-[48px]"
          >
            One subscription <br /> for design, engineering <br /> and marketing
          </h2>
          <p
            class="mx-auto max-w-[300px] text-center text-sm text-white/[.48] md:mx-[revert] md:max-w-[revert] md:text-start md:text-xl md:text-white/50"
          >
            We help startups and founders handle growth and <br /> product
            development task fast and hassle-free
          </p>
        </div>
        <div class="mx-10 mt-[37px] md:mx-0 md:mt-24">
          <div
            class="flex flex-row justify-center gap-3 text-sm md:justify-start md:text-base"
          >
            <a
              class="whitespace-nowrap rounded-full bg-white p-4 text-center font-arizona text-neutral-950 md:text-base md:leading-5"
              href="https://cal.com/nikitaaxel/30min"
              target="_blank"
              rel="noopener noreferrer"
            >
              Book an intro call
            </a>
            <button
              data-books-call
              class="whitespace-nowrap rounded-full bg-white/5 p-4 md:text-base md:leading-5"
              id="start-pricing-btn">Leave a request</button
            >
          </div>
        </div>
      </div>
    </section>
    <div class="bg-white">
      <section
        class="grid grid-cols-1 justify-items-center gap-3 bg-white px-4 py-5 text-gemms-dark md:mx-auto md:max-w-7xl md:grid-cols-2 md:gap-x-5 md:gap-y-8"
      >
        <ProductCard
          images={IMG_PATHS.peatch}
          title="PEATCH"
          delay={2}
          type="Product, 3 months"
          description="Conceptualized, developed, and pivoted a social network that rethinks the way we hire, collaborate, and showcase ourselves as professionals."
        />
        <ProductCard
          images={IMG_PATHS.onesolar}
          delay={2.5}
          title="ONE SOLAR"
          type="Branding & Product, 3 Months"
          description="Helped a solar e-commerce brand transform unappealing elements into an engaging user experience, achieve $3M in (ARR), and develop a strong brand and strategy."
        />
        <TestimonialCard client:load />
        <ProductCard
          images={IMG_PATHS.kulman}
          title="KULMAN"
          delay={3}
          type="Branding, 2 Weeks"
          description="A bold and playful logo and brand identity for an office and home furniture manufacturer."
        />
        <ProductCard
          images={IMG_PATHS.clan}
          title="ABIE"
          delay={2.5}
          type="Branding, 2 Weeks"
          description="A package design and brand identity for an natural bath accessories brand, drawing inspiration from the steam patterns on your mirror."
        />
        <ProductCard
          images={IMG_PATHS.bb}
          title="Beaded Breakfast"
          delay={3.5}
          type="Branding & Web, 2 Months"
          description="A playful e-commerce website, marketing, and brand identity for a beaded jewelry brand."
        />
        <ProductCard
          images={IMG_PATHS.pottekur}
          title="POTTEKUR"
          delay={4.5}
          type="Branding, 2 Weeks"
          description="Handcrafted logo and brand identity for a ceramic studio and kintsugi store."
        />
        <ContactForm data-contact-form client:load>
          <Pill
            className="mx-auto block w-fit border-white/20 uppercase text-white md:mx-[revert] md:px-3 md:py-[6px] md:text-[10px] md:leading-[20px] md:tracking-[1px]"
            text="2 spots left"
          />
        </ContactForm>
        <div class="mt-10 flex flex-col items-center bg-white md:items-start">
          <h1
            class="text-center font-arizona text-2xl leading-7 text-gemms-dark md:text-start md:text-3xl xl:text-[44px] xl:leading-[52px]"
          >
            We work without unnecessary meetings and are free from corporate
            sluggishness
          </h1>
          <div
            class="mt-5 flex w-full max-w-[300px] flex-wrap items-center justify-center gap-1 md:max-w-[400px] md:items-start md:justify-start md:gap-2"
          >
            <Pill className="md:text-base" text="Minimum communication" />
            <Pill className="md:text-base" text="30-minutes intro call" />
            <Pill className="md:text-base" text="2-3 day turnaround" />
            <Pill className="md:text-base" text="Managed via trello" />
            <Pill className="md:text-base" text="Pause or cancel anytime" />
          </div>
        </div>
        <div class="mt-8 flex flex-col gap-y-5 px-5 pb-20">
          <TextBubble text="How do we communicate?" sender="us" />
          <TextBubble
            text="Our goal is to minimise communication as much as possible. Typically, the process involves you submitting your request and us sending the results. However, if a call is necessary, we will arrange it."
            sender="them"
          />
          <TextBubble text="How do I request?" sender="us" />
          <TextBubble
            text="There are no rules. You can send us a Notion link, Figma file, Google Docs, wireframes PNGs, or even a Loom video. Essentially, anything that can be linked to or shared in Trello is fair game."
            sender="them"
          />
          <TextBubble text="How many requests can I submit?" sender="us" />
          <TextBubble
            text="You can submit as many requests as you wish each month, and we will go through them one at a time, prioritising them based on the order of your requests and the priority you assign to each task."
            sender="them"
          />
          <TextBubble
            text="How quickly can I receive my results?"
            sender="us"
          />
          <TextBubble
            text="On average, most requests are completed in just two days or less. However, more complex requests can take longer."
            sender="them"
          />
          <TextBubble
            text="What if I don’t need a full month of work?"
            sender="us"
          />
          <TextBubble
            text="That's fine. You can pause your subscription and return when you have additional requests. We’ll continue at no extra charge."
            sender="them"
          />
          <TextBubble text="How can I pay for your service?" sender="us" />
          <TextBubble
            text="You can pay by wire transfer, PayPal, cryptocurrency, or Deel."
            sender="them"
          />
          <TextBubble text="How are you handling the legal side?" sender="us" />
          <TextBubble
            text="We'll send you the contract. All of the intellectual rights belong to you."
            sender="them"
          />
          <TextBubble text="Is there any work you don’t cover?" sender="us" />
          <TextBubble
            text="We do not cover 3D modeling, document design (medical forms, etc.), complex packaging, or extensive print design (magazines, books, etc.)."
            sender="them"
          />
          <TextBubble text="What if I don’t like the results?" sender="us" />
          <TextBubble
            text="No worries. We'll keep revising any designs until they are exactly what you're looking for."
            sender="them"
          />
          <TextBubble
            text="Are there any refunds if I don't like the service?"
            sender="us"
          />
          <TextBubble
            text="Due to the high-quality nature of the work, there will be no refunds issued."
            sender="them"
          />
        </div>
      </section>
    </div>
    <section
      class="flex flex-col bg-gemms-dark pt-8 text-white md:mx-auto md:mb-8 md:max-w-7xl md:flex-row md:justify-between"
    >
      <div class="flex flex-col justify-between">
        <div class="w-full flex-1 px-8 md:max-w-[530px]">
          <Pill
            className="border-white/20 w-fit mx-auto block md:mx-[revert] text-white md:py-[6px] md:px-3 md:text-[10px]"
            text="2 SPOTS LEFT"
          />
          <h2
            class="mt-3 text-center font-arizona text-2xl leading-7 md:mt-4 md:text-start md:text-5xl"
          >
            Discuss today, start work tomorrow
          </h2>
          <p
            class="mt-2 text-center text-sm text-white/[0.32] md:text-start md:text-xl"
          >
            Talk with Nikita, the founder and product designer, to discuss the
            opportunities, create a roadmap, and get free consultation.
          </p>
          <div
            class="mt-8 flex flex-col gap-3 font-arizona text-sm font-medium md:flex-row md:text-base"
          >
            <a
              class="rounded-full bg-white px-4 py-4 text-center text-sm text-black md:p-4 md:text-base"
              href="https://cal.com/nikitaaxel/30min"
              target="_blank"
              rel="noopener noreferrer"
            >
              Book an intro call
            </a>
            <a
              class="flex flex-row items-center justify-center gap-[10px] rounded-full bg-white/5 px-4 py-4 md:p-4 md:text-base md:leading-5"
              href="https://t.me/nickaxel"
            >
              <img
                class="h-6 w-6 rounded-full object-cover"
                src="people/bek.webp"
              />
              <p>DM in Telegram</p>
            </a>
          </div>
        </div>
        <footer class="hidden md:mt-8 md:block">
          <a
            href="https://thegaas.co"
            target="_blank"
            rel="noopener noreferrer"
            class="block text-center text-sm text-white/20 md:mx-[revert] md:ml-8 md:text-start md:text-xl"
            >Made by GAAS
          </a>
        </footer>
      </div>
      <div
        class="md:self-[revert] mx-4 mt-[60px] grid aspect-square min-w-full max-w-[400px] flex-1 grid-cols-2 gap-2 self-center px-4 md:mt-0 md:min-w-[328px] md:px-0"
      >
        <a
          href="https://t.me/nickaxel"
          class="flex flex-col justify-between bg-white/5 py-5 pl-4"
        >
          <Icon name="dribbble" class="h-6 w-6" />
          <p class="mt-[68px]">Dribbble</p>
        </a>
        <a
          href="https://instagram.com/gemsscollective"
          class="flex flex-col justify-between bg-white/5 py-5 pl-4"
        >
          <Icon name="ig" class="h-6 w-6" />
          <p class="mt-[68px]">Instagram</p>
        </a>
        <a
          href="https://twitter.com/gemsscollective"
          class="flex flex-col justify-between bg-white/5 py-5 pl-4"
        >
          <Icon name="twitter" class="h-6 w-6" />
          <p class="mt-[68px]">X</p>
        </a>
        <a
          href="mailto:gemssco@proton.me"
          class="flex flex-col justify-between bg-white/5 py-5 pl-4"
        >
          <Icon name="email" class="h-6 w-6" />
          <p class="mt-[68px]">Mail</p>
        </a>
      </div>
    </section>
  </main>
  <footer class="mx-auto mb-28 mt-10 md:mb-8 md:hidden md:max-w-7xl">
    <a
      class="block text-center text-sm text-white/20 md:mx-[revert] md:mb-10 md:ml-8 md:mt-0 md:text-start md:text-xl"
      href="https://thegaas.co"
      target="_blank"
      rel="noopener noreferrer"
      >Made by GAAS
    </a>
  </footer>
</Layout>

<style>
  p,
  button,
  span,
  footer {
    font-family: 'Arizona Plus', sans-serif;
  }

  button {
    font-weight: 500;
  }
</style>

<script>
  const ContactFormElement = document.querySelector('#contact-form');

  const BookCallButtons = document.querySelectorAll('[data-books-call]');

  BookCallButtons.forEach((btn) => {
    btn.addEventListener('click', () => {
      ContactFormElement?.scrollIntoView({
        behavior: 'smooth',
        block: 'center',
      });
    });
  });
</script>
