---
import Slideshow from './Slideshow.astro';
interface Props {
  images: Array<string>;
  start?: number;
  delay?: number;

  title: string;
  type: string;
  description: string;
}

const { images, delay = 1, title, type, description } = Astro.props;
---

<article
  class="relative flex min-h-fit max-w-[600px] flex-col gap-2 text-sm leading-4 md:gap-3 md:text-base md:leading-5"
>
  <Slideshow
    className="aspect-auto rounded-gemms-medium border border-gemms-dark/5"
    images={images}
    delay={delay}
  />
  <div class="space-y-2">
    <div class="flex justify-between">
      <p class="uppercase text-gemms-dark">{title}</p>
      <p class="text-gemms-dark/[.32]">{type}</p>
    </div>
    <p class="-tracking-[0.01em] opacity-[.32]">
      {description}
    </p>
  </div>
</article>

<style>
  article {
    font-family: 'Arizona Plus', sans-serif;
  }
</style>
