---
interface Props {
  title: string;
  description: string;
  theme?: 'dark' | 'light';
}

const { title, description, theme = 'dark' } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" href="/icons/gem.png" type="image/png" />

    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="Gemss, Startup Agency, Growth Services, Branding, Facebook Ads, Google Ads, Pitch Decks, Subscription-based Product Design, Development"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://gemss.xyz/og.jpg" />
    <meta property="og:url" content="https://gemss.xyz" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://gemss.xyz/twitter.jpg" />

    <!-- Canonical URL (to avoid duplicate content issues) -->
    <link rel="canonical" href="https://gemss.xyz" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TJCMS4X3');
    </script>
    <!-- End Google Tag Manager -->

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      src=`https://statsy.observer/${import.meta.env.PUBLIC_STATSY_SCRIPT}.js`
      defer></script>
    <ViewTransitions />
    <style is:global>
      html,
      body {
        font-family: 'Arizona Plus', sans-serif;
        position: relative;

        font-variation-settings:
          'wght' 400,
          'SRFF' 0,
          'slnt' 0;
      }

      @font-face {
        font-family: 'New Spirit';
        src:
          url('/fonts/NewSpirit/NewSpirit-Light.woff2')
            format('woff2 supports variations'),
          url('/fonts/NewSpirit/NewSpirit-Light.woff2')
            format('woff2-variations');
        font-weight: 100;
        font-display: swap;

        font-variation-settings:
          'wght' 400,
          'SRFF' 0,
          'slnt' 0;
      }

      @font-face {
        font-family: 'New Spirit';
        src:
          url('/fonts/NewSpirit/newspirittrial-regular-webfont.woff2')
            format('woff2 supports variations'),
          url('/fonts/NewSpirit/newspirittrial-regular-webfont.woff')
            format('woff-variations');
        font-weight: normal;
        font-style: normal;
        font-display: swap;

        font-variation-settings:
          'wght' 400,
          'SRFF' 0,
          'slnt' 0;
      }

      @font-face {
        font-family: 'Arizona Plus';
        font-style: normal;

        src:
          url('/fonts/ArizonaPlus/ABCArizonaSansVariable.woff')
            format('woff supports variations'),
          url('/fonts/ArizonaPlus/ABCArizonaSansVariable.woff')
            format('woff-variations');

        font-weight: 300;
        font-display: swap;

        font-variation-settings:
          'wght' 400,
          'SRFF' 0,
          'slnt' 0;
      }

      h1,
      h2,
      h3,
      .heading {
        font-family: 'New Spirit', sans-serif;
        font-weight: 300;
      }

      * {
        touch-action: manipulation;
      }

      *,
      *:before,
      *:after {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
  </head>
  <body class={theme === 'dark' ? 'bg-gemms-dark' : 'bg-white'}>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TJCMS4X3"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>
