---
interface Props {
  title: string;
  description: string;
  theme?: 'dark' | 'light';
}

const { title, description, theme = 'dark' } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" href="/icons/gem.png" type="image/png" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="Gemss, Startup Agency, Growth Services, Branding, Facebook Ads, Google Ads, Pitch Decks, Subscription-based Product Design, Development"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://gemss.xyz/og.png" />
    <meta property="og:url" content="https://gemss.xyz" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://gemss.xyz/twitter.png" />

    <!-- Canonical URL (to avoid duplicate content issues) -->
    <link rel="canonical" href="https://gemss.xyz" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      src=`https://statsy.observer/${import.meta.env.PUBLIC_STATSY_SCRIPT}.js`
      defer></script>
    <ViewTransitions />
  </head>
  <body class={theme === 'dark' ? 'bg-gemms-dark' : 'bg-white'}>
    <slot />
    <style is:global>
      body {
        font-family: Inter, sans-serif;
        position: relative;
      }

      @font-face {
        font-family: 'New Spirit';
        src:
          url('/fonts/NewSpirit/NewSpirit-Light.woff2')
            format('woff2 supports variations'),
          url('/fonts/NewSpirit/NewSpirit-Light.woff2')
            format('woff2-variations');
        font-weight: 100;
        font-display: block;
      }

      @font-face {
        font-family: 'New Spirit';
        src:
          url('/fonts/NewSpirit/newspirittrial-regular-webfont.woff2')
            format('woff2 supports variations'),
          url('/fonts/NewSpirit/newspirittrial-regular-webfont.woff')
            format('woff-variations');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }

      @font-face {
        font-family: 'Arizona Plus';
        font-style: normal;

        src:
          url('/fonts/ArizonaPlus/ABCArizonaPlusVariable.woff2')
            format('woff2 supports variations'),
          url('/fonts/ArizonaPlus/ABCArizonaPlusVariable.woff')
            format('woff-variations');

        font-weight: 300;
        font-display: block;

        font-variation-settings:
          'wght' 400,
          'SRFF' 0,
          'slnt' 0;
      }

      h1,
      h2,
      h3,
      .heading {
        font-family: 'New Spirit', sans-serif;
        font-weight: 300;
      }

      * {
        touch-action: manipulation;
      }

      *,
      *:before,
      *:after {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
  </body>
</html>
